# Ignore file for Visual Studio 2010/2012

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.tokens
[Bb]in
[Db]ebug*/
obj/
[Rr]elease*/
*resharper*
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
build/
current-test-configuration
NHibernate.VisualState.xml
packages/
packages/log4net.2.0.3/lib/net10-full/log4net.xml
packages/NUnit.2.6.3/license.txt
packages/NHibernate.3.3.3.4001/NHibernate.readme.html
packages/NHibernate.3.3.3.4001/NHibernate.license.txt
packages/NHibernate.3.3.3.4001/nhibernate-mapping.xsd
packages/NHibernate.3.3.3.4001/lib/Net35/NHibernate.xml
packages/log4net.2.0.3/lib/net11-full/log4net.xml